{% extends "base.html" %}

{% block content %}


<div class="container py-5" style="min-height: 50vh;">
    <h2>Kirish</h2>

    <form method="POST" class="w-50 mb-3">
        {% csrf_token %}

        <p>
            <label for="id_email">Email</label>
            <input class="form-control" type="email" id="id_email" name="email" placeholder="johndoe@gmail.com">
        </p>

        <p>
            <label for="id_password">Password</label>
            <input class="form-control" type="password" name="password" id="id_password" placeholder="• • • • • •">
        </p>

        <p>
            <a href="{% url 'password_reset' %}" class="text-dark">Parolni unutdingizmi?</a>
        </p>

        <button type="submit" class="btn btn-primary w-100">Kirish</button>
    </form>

    <ul>
        {% for error in errors %}
        <li> {{ error }} </li>
        {% endfor %}
    </ul>

    <p>
        Hissobingiz yo'qmi? <a href="{% url 'register' %}" style="text-decoration: underline;" class="text-dark">Ro'yhatdan o'tish</a>
    </p>

</div>

{% endblock %}